{% extends 'base.html' %}
{% block content %}
    <h1 style="color:blue;text-align:center;">Team Details</h1>
    <h4 style="color:rgb(9, 9, 77);">Team ID</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">ITSP220003</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Name</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Horizon</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Member Names</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Harsh Kumar</button>
    </div>
{% endblock %}