{% extends 'base.html' %}
{% block content %}
    <h1 style="color:blue;text-align:center;">Team Details</h1>
    <h4 style="color:rgb(9, 9, 77);">Team ID</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">ITSP220006</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Name</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Unmuters</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Member Names</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Hitaishi Modi</button>
        <button type="button" class="list-group-item list-group-item-action">Varun Karthik Makineni</button>
        <button type="button" class="list-group-item list-group-item-action">Sathvik Kanna</button>
        <button type="button" class="list-group-item list-group-item-action">A.B. Aadhitya Narayanan</button>
    </div>
{% endblock %}