{% extends 'base.html' %}
{% block content %}
    <h1 style="color:blue;text-align:center;">Team Details</h1>
    <h4 style="color:rgb(9, 9, 77);">Team ID</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">ITSP220010</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Name</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Team Agrover</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Member Names</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Archit Gupta</button>
        <button type="button" class="list-group-item list-group-item-action">Aman Sharma</button>
        <button type="button" class="list-group-item list-group-item-action">Shubhranil Chatterjee</button>
        <button type="button" class="list-group-item list-group-item-action">Ojas Jain</button>
    </div>
{% endblock %}