{% extends 'base.html' %}
{% block content %}
    <h1 style="color:blue;text-align:center;">Team Details</h1>
    <h4 style="color:rgb(9, 9, 77);">Team ID</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">ITSP220004</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Name</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Influencers</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Member Names</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Dendukuri Sandeep Varma</button>
        <button type="button" class="list-group-item list-group-item-action">Dwarapudi Harshavardhan</button>
        <button type="button" class="list-group-item list-group-item-action">Cheerla Vinay Kumar</button>
        <button type="button" class="list-group-item list-group-item-action">Annam Sai Vardhan</button>
    </div>
{% endblock %}