{% extends 'base.html' %}
{% block content %}
    <h1 style="color:blue;text-align:center;">Team Details</h1>
    <h4 style="color:rgb(9, 9, 77);">Team ID</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">ITSP220007</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Name</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">EnergyDCX</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Member Names</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Ayush Raj</button>
        <button type="button" class="list-group-item list-group-item-action">Pratham Kulkarni</button>
        <button type="button" class="list-group-item list-group-item-action">Rishikesh Pandey</button>
        <button type="button" class="list-group-item list-group-item-action">Shubham Hazra</button>
    </div>
{% endblock %}