{% extends 'base.html' %}
{% block content %}
    <h1 style="color:blue;text-align:center;">Team Details</h1>
    <h4 style="color:rgb(9, 9, 77);">Team ID</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">ITSP220002</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Name</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Streamlined</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Member Names</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Aarya Bhuva</button>
        <button type="button" class="list-group-item list-group-item-action">Aaryan Dangi</button>
        <button type="button" class="list-group-item list-group-item-action">Cheshta Damor</button>
        <button type="button" class="list-group-item list-group-item-action">Tanmay Jain</button>
    </div>
{% endblock %}