{% extends 'base.html' %}
{% block content %}
    <h1 style="color:blue;text-align:center;">Team Details</h1>
    <h4 style="color:rgb(9, 9, 77);">Team ID</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">ITSP220001</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Name</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Team Osiris</button>
    </div>
    <h4 style="color:rgb(9, 9, 77);">Team Member Names</h4>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Sajal Deolikar</button>
        <button type="button" class="list-group-item list-group-item-action">Arnav Kalgutkar</button>
        <button type="button" class="list-group-item list-group-item-action">Joel Anto Paul</button>
        <button type="button" class="list-group-item list-group-item-action">Sannidhya Kaushal</button>
    </div>
{% endblock %}